<ion-content [scrollEvents]="true" (ionScrollStart)="globals.scrollStart()" (ionScroll)="globals.scrolling($event)" (ionScrollEnd)="globals.scrollEnd()">
  <!-- header code -->
  <div class="chat-landing-page">
  <app-header></app-header>
  <section class="landing_page_slider">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="landing_page_slider-main text-center">
            <div class="landing_page_slider-contain container">
              <h1>Easy To Use Our VTeam</h1>
              <h4>VTeam is the most well-received comunication tool with trustworthy privacy and security.</h4>
              <h4>VTeam is super natural and easy to use, click, and you're in. You can use VTeam in the car, in your house, in the office - literally everywhere."</h4>
            </div>
          </div>
        </div>
        <div class="animated-img-1"><img class="img-fluid slicing-img-4" src="assets/images/landing-page/slicing/vector.png" alt="img"><img class="img-fluid slicing-img-5" src="assets/images/landing-page/slicing/vector1.png" alt="img"><img class="img-fluid slicing-img-6" src="assets/images/landing-page/slicing/vector2.png" alt="img"><img class="img-fluid slicing-img-7" src="assets/images/landing-page/slicing/vector2.png" alt="img"></div>
        <div class="animated-img-2" style="min-width: 300px;">
          <div style="min-height: 300px;"><img src="assets/images/landing-page/slicing/11.png" alt="img"><img class="img-fluid slicing-img-2" src="assets/images/landing-page/slicing/21.png" alt="img"><img class="img-fluid slicing-img-3" src="assets/images/landing-page/slicing/22.png" alt="img"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="landing_popups section-py-space">
    <div class="svg_img2"><img class="img-fluid" src="assets/images/landing-page/bg-decore.png" alt="img"></div>
    <div><img class="img-fluid slicing-img-8" src="assets/images/landing-page/slicing/vector.png" alt="img"><img class="img-fluid slicing-img-9" src="assets/images/landing-page/slicing/vector1.png" alt="img"></div>
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="content-title">
            <h1>Audio & Video</h1>
            <h5>We are advanced generation communication technology company and committed to provide a ultra secure communication platform for every one.<br> We use our patented security technology to provide end-to-end encryption of live steams. VTeam offers you a sense of privacy and security.</h5>
            <br/><br/>
            <a class="btn" href="video.html" style="color: white; font-size: 20px; font-weight: 800; background: #0e324e; border-radius: 20px; font-family: cursive;">Go to Audio & Video</a>
          </div>
        </div>
      </div>
      
    </div>
    
  </section>

  <section class="collaboration-main section-py-space">
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="content-title">
            <h2>Upcoming Features</h2>
            <h1>Essential Secured Communication Tools</h1>
            <h5>VTeam is soon to offer tools like Messanger, Email, Audio Only Call (VOIP), File Sharing, Meeting Scheduler, Todo List, Notes and Reminders</h5>
          </div><img class="img-fluid chit-chat5" src="assets/images/landing/header/1.png" alt="inner1">
        </div>
      </div>
    </div>
    <div class="custom-container">
      <div class="row">
        <div class="col-12">
          <div class="collaboration-content">
            <ul class="collab-tab nav nav-pills">
              <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#tab1">
                  <div class="tab-main">
                    <div class="tab-img"><i class="fa fa-list"></i></div>
                    <div class="tab-content">
                      <h3>Email</h3>
                      <p>Secured</p>
                    </div>
                  </div></a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#tab2">
                  <div class="tab-main">
                    <div class="tab-img"><i class="fa fa-file"></i></div>
                    <div class="tab-content">
                      <h3>Sharing</h3>
                      <p>File Sharing</p>
                    </div>
                  </div></a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#tab3">
                  <div class="tab-main">
                    <div class="tab-img"><i class="fa fa-book"></i></div>
                    <div class="tab-content">
                      <h3>Scheduler</h3>
                      <p>Meeting Scheduler</p>
                    </div>
                  </div></a></li>
              <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#tab4">
                  <div class="tab-main">
                    <div class="tab-img"><i class="fa fa-clock-o"></i></div>
                    <div class="tab-content">
                      <h3>Reminder</h3>
                      <p>Set Reminders</p>
                    </div>
                  </div></a></li>
            </ul>
          </div>
          <div class="tab-detail">
            <div class="tab-content">
              <div class="tab-pane container active" id="tab1"><a href="messenger.html" target="_blank">
                  <div class="workable-app-img">
                    <div class="doted">
                      <ul>
                        <li><i class="fa fa-circle circle-1" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-2" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-3" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <div class="workable-title">
                      <div>
                        <h1>EMail</h1>
                      </div>
                    </div><img class="img-fluid img-1" src="assets/images/landing-page/workable-app/01.jpg" alt=""><img class="img-fluid img-2" src="assets/images/landing-page/workable-app/05.png" alt="">
                  </div>
                  <div class="workable-app-title">
                    <h2>Share your messages securely</h2>
                  </div></a></div>
              <div class="tab-pane container fade" id="tab2"><a href="messenger.html" target="_blank">
                  <div class="workable-app-img">
                    <div class="doted">
                      <ul>
                        <li><i class="fa fa-circle circle-1" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-2" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-3" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <div class="workable-title">
                      <div>
                        <h1>File Sharing</h1>
                      </div>
                    </div><img class="img-fluid img-1" src="assets/images/landing-page/workable-app/02.jpg" alt=""><img class="img-fluid img-2" src="assets/images/landing-page/workable-app/05.png" alt="">
                  </div>
                  <div class="workable-app-title">
                    <h2>Share documents and files</h2>
                  </div></a></div>
              <div class="tab-pane container fade" id="tab3"><a href="messenger.html" target="_blank">
                  <div class="workable-app-img">
                    <div class="doted">
                      <ul>
                        <li><i class="fa fa-circle circle-1" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-2" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-3" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <div class="workable-title">
                      <div>
                        <h1>Meeting Scheduler</h1>
                      </div>
                    </div><img class="img-fluid img-1" src="assets/images/landing-page/workable-app/03.jpg" alt=""><img class="img-fluid img-2" src="assets/images/landing-page/workable-app/05.png" alt="">
                  </div>
                  <div class="workable-app-title">
                    <h2>Use the scheduler as personal assistant</h2>
                  </div></a></div>
              <div class="tab-pane container fade" id="tab4"><a href="messenger.html" target="_blank">
                  <div class="workable-app-img">
                    <div class="dot-danger">
                      <ul>
                        <li><i class="fa fa-circle circle-1" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-2" aria-hidden="true"></i></li>
                        <li><i class="fa fa-circle circle-3" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                    <div class="workable-title">
                      <div>
                        <h1>Reminder</h1>
                      </div>
                    </div><img class="img-fluid img-1" src="assets/images/landing-page/workable-app/04.jpg" alt=""><img class="img-fluid img-2" src="assets/images/landing-page/workable-app/05.png" alt="">
                  </div>
                  <div class="workable-app-title">
                    <h2>Set Reminder for upcoming meetings and events</h2>
                  </div></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="rate-us section-py-space">
    <div class="custom-container">
      <div class="row">
        <div class="col-12 mx-auto text-center">
          <div class="rate_us-section"><img class="img-fluid" src="assets/images/logo/landing-logo.png" alt="logo"></div>
        </div>
        <div class="col-12">
          <div class="rate_us-section">
            <h2>IF YOU LIKE OUR PRODUCTS PLEASE RATE US</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="rate_us-section">
            <ul class="rate-section">
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="rate_us-section"><a class="btn rate_btn" href="#">Rate us</a></div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- footer code-->
  <app-footer></app-footer>
</div>
</ion-content>
